body {
    margin: 0;
    color: #4f524d;
}
p {
    margin: 0;
    padding: 0 30px 30px 30px;
    white-space: pre-wrap;
    text-align: center;
}

#img-wrapper {
    background-image: url('background.jpg');
    background-size: cover;
    width: 1200px;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.author-wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}
.author-wrapper > img {
    padding-top: 5px;
    filter: invert(32%);
}
.author-text {
    white-space: nowrap;
    padding: 0 20px 20px 10px;
    font-size: 32px;
}

/* TODO: 行数によってサイズ等変更する必要が出てきたら改良 */
.one-line {
    font-size: 80px;
}
.two-lines {
    font-size: 80px;
}
.three-lines {
    font-size: 80px;
}
.four-lines {
    font-size: 80px;
}

/* フォント追加 */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/NotoSansJP/NotoSansJP-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/NotoSansJP/NotoSansJP-Bold.woff') format('woff');
}

body {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", sans-serif;
    font-weight: bold;
}